![Python Logo](http://spark-mooc.github.io/web-assets/images/python-logo-master-v3-TM-flattened_small.png)
# Python notes 2 - lambda and collections

this document is a kind of cook notebook with receipts to help you code faster.
enjoy it 
:)

## Table of Content


* [lambda](#lambda)
* [map](#map)
* [tuples](#tuples)
* [array_and_list](#array_and_list)
* [shuffle](#shuffle)
* [sort](#sort)
* [numpy_arrays](#numpy_arrays)
* [dictionaries](#dictionaries)
* [hash_table](#hash_table)
* [collections](#collections)

In [1]:
for i in range( 10, 0, -1):
    print( i )

10
9
8
7
6
5
4
3
2
1

In [2]:
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]
print('full List:', list)

# clearing the list
list.clear()

print('List:', list)

List: []

<a id = 'lambda'> </a>

### Lambda functions

<a id = 'map'> </a>

### map

In [1]:
def make_incrementor(n):
    return lambda x: x + n


f = make_incrementor( 40 )
print( f(1) )
print( f(5) )

41
45

In [2]:
# no lambda
items = [1, 2, 3, 4, 5]
squared = []
for x in items:
    squared.append(x ** 2)

squared

[1, 4, 9, 16, 25]

In [12]:
items = [1, 2, 3, 4, 5]

def sqr(x): return x ** 2

#list( map( sqr, items ) )
print( map( sqr, items ) )

[1, 4, 9, 16, 25]

In [13]:
squared2 = map( lambda x: x ** 2, items )
squared2

[1, 4, 9, 16, 25]

In [17]:
items = [1, 2, 3, 4, 5]
squared3 = map( lambda x: ( x, 'cuadrado:' + str( x ** 2 )), items )
squared3

[(1, 'cuadrado:1'), (2, 'cuadrado:4'), (3, 'cuadrado:9'), (4, 'cuadrado:16'), (5, 'cuadrado:25')]

In [ ]:
cajas_ejercicio es:

    imprimir las cajas que tengan un area menor que max_area.
    
input:
    una lista de 2 puntos 
    [
    (x1,y1, x2,y2 ),
    (x1,y1, x2,y2 ),
    (x1,y1, x2,y2 )
    ]

y max_area, que es la  maxima area deseada.  
    
output es:
    una lista que tenga las cajas chicas.

#### create a list of alphabet letters

In [6]:
data    =  map( chr, range(97, 123) )
print( data )
for i in data: print( i )

<map object at 0x0000023889EB2BA8>
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

#### create bigrams with alphabet letters

In [17]:
# create an array of letters
a =list( map( chr, range(65, 91) ) )
#for i in alphabeth: print( i)

bigrams = [ ( a[i], a[i + 1] ) for i in range( 0, len( a ) - 1 ) ]
for i in bigrams: print( i )

('A', 'B')
('B', 'C')
('C', 'D')
('D', 'E')
('E', 'F')
('F', 'G')
('G', 'H')
('H', 'I')
('I', 'J')
('J', 'K')
('K', 'L')
('L', 'M')
('M', 'N')
('N', 'O')
('O', 'P')
('P', 'Q')
('Q', 'R')
('R', 'S')
('S', 'T')
('T', 'U')
('U', 'V')
('V', 'W')
('W', 'X')
('X', 'Y')
('Y', 'Z')

#### filter

In [5]:
data = [ 1, 2, 3, 4, 5]
a = filter( (lambda x: x > 3) , data )
print( list( a ) )

[4, 5]

In [6]:
list( filter((lambda x: x < 0), range(-5,5)))

[-5, -4, -3, -2, -1]

#### reduce

In [7]:
reduce( (lambda x, y: x + y), [1, 2, 3, 4] )

10

<a id = 'tuples' ></a>

## tuples

In [8]:
t = ( 'shark', 'eagle', 'crocodile' )
fish, bird, reptile = t

print( 'fish   : {0}'.format( fish    ) )
print( 'bird   : {0}'.format( bird    ) )
print( 'reptile: {0}'.format( reptile ) )

fish   : shark
bird   : eagle
reptile: crocodile

### Arrays

In [7]:
from array import *

v = array('l') 
c = array('c', 'hello world'   )   
u = array('u', u'hello \u2641' ) 
l = array('l', [1, 2, 3, 4, 5] ) 
d = array('d', [1.0, 2.0, 3.14])

for i in d: print( i )

TypeError: cannot use a str to initialize an array with typecode 'c'

### append element at the end

In [36]:
d.append( 4.16 )
d

array('d', [1.0, 2.0, 3.14, 4.16])

#### insert element in any location

In [37]:
#insert en position 0
d.insert( 0, 0 )
print( d )

#insert en position 2
d.insert( 2, -13 )
print( d )

array('d', [0.0, 1.0, 2.0, 3.14, 4.16])
array('d', [0.0, 1.0, -13.0, 2.0, 3.14, 4.16])

#### removes the item in position

In [38]:
x = d.pop( 3 )
print x
print d

2.0
array('d', [0.0, 1.0, -13.0, 3.14, 4.16])

<a id = 'array_and_list' ></a>

# list

create empty list

In [2]:
a = []
print ( a )

[]

create list

#### slicing

In [19]:
m = [ [ 0,   1,  2,  3,  4,  5 ],
      [ 6,   7,  8,  9, 10, 11 ],
      [ 12, 13, 14, 15, 16, 17 ]
    ]
     
print (  'row    0 : {0}'.format( m[ 0 ] ) )
#print (  'row 1 : {0}'.format( m[ 1, : ] ) )
#print (  'col 1 : {0}'.format( m[ :, 1 ] ) )
#print (  'col row : {0}'.format( m[ 3 , 1 ] ) )

row    0 : [0, 1, 2, 3, 4, 5]

In [10]:
a = [ 0, 1, 2, 3, 4, 5 ]

#### convert list to string

In [13]:
a = [ 'Riahanna', 'Cherry', 'Katy', 'Adel', 'Daisy', 'Barbara' ]
s = ','.join( a )
s

'Riahanna,Cherry,Katy,Adel,Daisy,Barbara'

create list of integers from 0 to 9

In [21]:
b = range(0, 5)
print( 'b: {0}'.format( b )  )

print( b + [ 5, 6, 'hola', 7 ] )

b: range(0, 5)

TypeError: unsupported operand type(s) for +: 'range' and 'list'

get size of list or any object

In [22]:
a = [ 1, 2, 3, 4, 5 ]
s = 'hello wild world'
print( len(s) )

size = len( a )


print ( 'a   : {0}'.format( a    ) )
print ( 'size: {0}'.format( size ) )

16
a   : [1, 2, 3, 4, 5]
size: 5

get the first 3 elements from a list

In [23]:
a = [ 1, 2, 3, 4, 5 ]


print ( 'a   : {0}'.format( a    ) )
print ( 'first 3 elements   : {0}'.format( a[ 0:3 ]    ) )
print ( 'a   : {0}'.format( a    ) )

a   : [1, 2, 3, 4, 5]
first 3 elements   : [1, 2, 3]
a   : [1, 2, 3, 4, 5]

### create copy of list

In [24]:
import copy

#original list
a1 = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

# create new lists
a2 = a1[:]
a3 = list( a1 )
a4 = copy.copy( a1 )
a5 = copy.deepcopy( a1 )

a2[ 0 ] = 'Spike_a2'
a3[ 0 ] = 'Soopy_a3'
a4[ 0 ] = 'Pongo_a4'
a5[ 0 ] = 'Astro_a5'

print( 'copies: ' )
print( 'a2: {0} '.format( a2 ) )
print( 'a3: {0} '.format( a3 ) )
print( 'a4: {0} '.format( a4 ) )
print( 'a5: {0} '.format( a5 ) )

print( '\n original list: n' )
print( 'a1: {0} '.format( a1 ) )

copies:
a2: ['Spike_a2', 'shark', 'panter', 'eagle', 'scorpion']
a3: ['Soopy_a3', 'shark', 'panter', 'eagle', 'scorpion']
a4: ['Pongo_a4', 'shark', 'panter', 'eagle', 'scorpion']
a5: ['Astro_a5', 'shark', 'panter', 'eagle', 'scorpion']

 original list: n
a1: ['dog', 'shark', 'panter', 'eagle', 'scorpion']

### create a second variable t the same list

In [3]:
a1 = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

a2 = a1
a2[ 0 ] = 'Spike'

print( 'a1: {0} '.format( a1 ) )
print( 'a2: {0} '.format( a2 ) )

a1: ['Spike', 'shark', 'panter', 'eagle', 'scorpion']
a2: ['Spike', 'shark', 'panter', 'eagle', 'scorpion']

#### concatenate two list

In [1]:
a = [ 'beethoven', 'mozart', 'bach' ]
b = [ 'vivaldi', 'chopin', 'chaikovski' ]
c = a + b
print( c )

['beethoven', 'mozart', 'bach', 'vivaldi', 'chopin', 'chaikovski']

zip - create numerated list of tuples using an existing list of data

In [15]:
data = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

size = len( data ) 
idx  = range( 0, size)
z1   = zip( idx, data )
z2   = zip( range( 0, len( data ) ), data )

print ( 'data  : {0}'.format( data ) )
#print 'idx   : {0}'.format( idx  )
print ( 'z1: {0}'.format( z1    ) )
print ( 'z2: {0}'.format( z2    ) )

print ( '\n z1' )
for i, a in z1:
    print( i, a )

print ( '\n z2' )
for i, a in z2: print( i, a )

data  : ['dog', 'shark', 'panter', 'eagle', 'scorpion']
z1: [(0, 'dog'), (1, 'shark'), (2, 'panter'), (3, 'eagle'), (4, 'scorpion')]
z2: [(0, 'dog'), (1, 'shark'), (2, 'panter'), (3, 'eagle'), (4, 'scorpion')]

 z1
(0, 'dog')
(1, 'shark')
(2, 'panter')
(3, 'eagle')
(4, 'scorpion')

 z2
(0, 'dog')
(1, 'shark')
(2, 'panter')
(3, 'eagle')
(4, 'scorpion')

format a string using elements from a list

In [16]:
data = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

s = "one star of the zoo: {animal}"

for a in data:
    print ( s.format( animal = a ) )

one star of the zoo: dog
one star of the zoo: shark
one star of the zoo: panter
one star of the zoo: eagle
one star of the zoo: scorpion

#### sum elements of a list

In [34]:
a = [ 1, 2, 3, 4, 5 ]
s = sum( a )
print( s )

if 6 not in a:
    print ( "we don't find  6" )

15
we don't find  6

#### append element at the end of the list

In [29]:
data = [ 'shark', 'panter', 'eagle' ]
data.append( 'scorpion' )
print( data )

['shark', 'panter', 'eagle', 'scorpion']

#### insert element at first position

In [32]:
data = [  'shark', 'panter', 'eagle', 'scorpion' ]
data.insert( 0, 'dog' )
print( data )

['dog', 'shark', 'panter', 'eagle', 'scorpion']

#### remove element from list

In [37]:
a = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

# delete first
x = a.pop( 0 )
print( a )
print( x )

# delete last
x = a.pop( -1 )
print( a )
print( x )

# delete panter
x = a.pop( 1 )
print( a )
print( x )

['shark', 'panter', 'eagle', 'scorpion']
dog
['shark', 'panter', 'eagle']
scorpion
['shark', 'eagle']
panter

In [1]:
a = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

#delete dog
del( a[0] )

print( a )

['shark', 'panter', 'eagle', 'scorpion']

In [2]:
a = [ 'dog', 'shark', 'panter', 'eagle', 'scorpion' ]

#delete panter and eagle
del( a[ -3: -1 ] )

print( a )

['dog', 'shark', 'scorpion']

<a id = 'shuffle' ></a>

### shuffle

In [11]:
from random import shuffle
x = [ i for i in range(10)]

print( 'original list: {0}'.format( x ) )

shuffle(x)

print( 'shuffled list: {0}'.format( x ) )

original list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffled list: [8, 2, 6, 5, 0, 9, 4, 7, 1, 3]

<a id = 'sort' ></a>

# sort

some useful links

https://docs.python.org/2/library/functions.html#sorted

https://wiki.python.org/moin/HowTo/Sorting

sort array

In [18]:
data = [ 7, 2, 5, 10, 4, 1, 8, 3, 6]
s    = sorted( data )

print ( 'data  : {0}'.format( data ) )
print ( 'sorted: {0}'.format( s    ) )

data  : [7, 2, 5, 10, 4, 1, 8, 3, 6]
sorted: [1, 2, 3, 4, 5, 6, 7, 8, 10]

### sort in reverse order

In [19]:
data = [ 7, 2, 5, 10, 4, 1, 8, 3, 6]
s    = sorted( data, reverse = True )

print ( 'data  : {0}'.format( data ) )
print ( 'sorted: {0}'.format( s    ) )

data  : [7, 2, 5, 10, 4, 1, 8, 3, 6]
sorted: [10, 8, 7, 6, 5, 4, 3, 2, 1]

### sort array of tuples

In [8]:
data = [ (4, 'Riahanna'), (3, 'Cherry'), (2, 'Katy'), (3, 'Adel'), (1, 'Daisy'), (3, 'Barbara' ) ]
s1   = sorted( data, key = lambda t: t[ 0 ] )

s2   = data
s2.sort( key = lambda t: t[ 0 ] )

print ( 'data   : {0}'.format( data ) )
print ( 'sorted1: {0}'.format( s1   ) )
print ( 'sorted2: {0}'.format( s2   ) )

data   : [(1, 'Daisy'), (2, 'Katy'), (3, 'Cherry'), (3, 'Adel'), (3, 'Barbara'), (4, 'Riahanna')]
sorted1: [(1, 'Daisy'), (2, 'Katy'), (3, 'Cherry'), (3, 'Adel'), (3, 'Barbara'), (4, 'Riahanna')]
sorted2: [(1, 'Daisy'), (2, 'Katy'), (3, 'Cherry'), (3, 'Adel'), (3, 'Barbara'), (4, 'Riahanna')]

In [9]:
data = [ (4, 'Riahanna'), (3, 'Cherry'), (2, 'Katy'), (33, 'Adel'),(3, 'Adel'), (1, 'Daisy'), (3, 'Barbara' ) ]
s1   = sorted( data, key = lambda t: (t[1],t[ 0 ]) )

s2   = data
s2.sort( key = lambda t: t[ 0 ] )

print ( 'data   : {0}'.format( data ) )
print ( 'sorted1: {0}'.format( s1   ) )
print ( 'sorted2: {0}'.format( s2   ) )

data   : [(1, 'Daisy'), (2, 'Katy'), (3, 'Cherry'), (3, 'Adel'), (3, 'Barbara'), (4, 'Riahanna'), (33, 'Adel')]
sorted1: [(3, 'Adel'), (33, 'Adel'), (3, 'Barbara'), (3, 'Cherry'), (1, 'Daisy'), (2, 'Katy'), (4, 'Riahanna')]
sorted2: [(1, 'Daisy'), (2, 'Katy'), (3, 'Cherry'), (3, 'Adel'), (3, 'Barbara'), (4, 'Riahanna'), (33, 'Adel')]

#### sort using tuple notation

In [1]:
data = [ (4, 'Riahanna'), (3, 'Cherry'), (2, 'Katy'), (3, 'Adel'), (1, 'Daisy'), (3, 'Barbara' ) ]
s1   = sorted( data, key = lambda (num, name) : (-num, name) )

s2   = data

s2.sort( key = lambda (num, name ): (-num, name) )

print ( 'data   : {0}'.format( data ) )
print ( 'sorted1: {0}'.format( s1   ) )
print ( 'sorted2: {0}'.format( s2   ) )

SyntaxError: invalid syntax (<ipython-input-1-c38f4ff368b4>, line 2)

#### using arrays and tuple notation

In [3]:
data = [ (4, 'Riahanna'), (3, 'Cherry'), (2, 'Katy'), (3, 'Adel'), (1, 'Daisy'), (3, 'Barbara' ) ]
s1   = sorted( data, key = lambda (num, name) : num )

s2   = data

s2.sort( key = lambda (num, str): num )

print 'data   : {0}'.format( data )
print 'sorted1: {0}'.format( s1    )
print 'sorted2: {0}'.format( s2    )

SyntaxError: invalid syntax (<ipython-input-3-1431cdd90dbd>, line 2)

### multiples levels of sorting an array of tuples. Similar to order by in SQL.

In [29]:
data = [ (4, 'Riahanna'), (3, 'Cherry'), (2, 'Katy'), (3, 'Adel'), (1, 'Daisy'), (3, 'Barbara' ) ]
s1    = sorted( data, key = lambda t: ( -t[ 0 ], t[ 1 ]) )

s2   = data
s2.sort( key = lambda t: ( -t[ 0 ], t[1] ) )

s3 = data
s3.sort( key = lambda (i, a): ( -i, a ) )

print 'data   : {0}'.format( data )

print '\n sorted by first attribute in descending, second attribute in ascending order'
print 's1     : {0}'.format( s1    )
print 's2     : {0}'.format( s2    )
print 's3     : {0}'.format( s3    )

data   : [(4, 'Riahanna'), (3, 'Adel'), (3, 'Barbara'), (3, 'Cherry'), (2, 'Katy'), (1, 'Daisy')]

 sorted by first attribute in descending, second attribute in ascending order
s1     : [(4, 'Riahanna'), (3, 'Adel'), (3, 'Barbara'), (3, 'Cherry'), (2, 'Katy'), (1, 'Daisy')]
s2     : [(4, 'Riahanna'), (3, 'Adel'), (3, 'Barbara'), (3, 'Cherry'), (2, 'Katy'), (1, 'Daisy')]
s3     : [(4, 'Riahanna'), (3, 'Adel'), (3, 'Barbara'), (3, 'Cherry'), (2, 'Katy'), (1, 'Daisy')]

<a id = 'numpy_arrays' ></a>

## numpy arrays

convert array of floats to integers

In [1]:
import numpy as np

x = np.array([1, 2, 2.5])
print x


print x.astype(int)

[ 1.   2.   2.5]
[1 2 2]

change the value of one cell that satisfy a condition

In [25]:
import numpy as np

a = np.array(  [ 1, 2, 3, 4, 5 ] )
 
print 'a: {0} '.format( a )

b = a
b[ b > 3 ] = 255
print 'b: {0} '.format( b )

# only works with numpy arrays
c = [ 1, 2, 3, 4, 5 ]
c [ c > 3 ] = 255
print 'c: {0} '.format( c )

a: [1 2 3 4 5]
b: [  1   2   3 255 255]
c: [1, 255, 3, 4, 5]

Count the numbers of cells with a specific value

In [24]:
a = np.array( [ 0, 2, 0, 4 ] )
b = np.array( [ 0, 0, 0, 0 ] )


print len( a[ a == 0 ] )
print len( b[ b == 0 ] )

print len( b )

# only works with numpy arrays
#c = [ 0, 2, 0, 4 ]
#print len( c[ c == 0 ] )

2
4
4

#### sum

In [3]:
import numpy as np

sum_rows = np.sum( [[0, 1], [0, 5]], axis= 0 )
sum_cols = np.sum( [[0, 1], [0, 5]], axis= 1 )

print( 'sum_rows: {0}'.format( sum_rows ) )
print( 'sum_cols: {0}'.format( sum_cols ) )

sum_rows: [0 6]
sum_cols: [1 5]

#### convert all cells to absolute values

In [5]:
a = np.abs( [[-1, -2], [-3, -4]] )
print( a )

[[1 2]
 [3 4]]

<a id = 'dictionaries' ></a>

## Dictionaries

create empty dictionary

In [1]:
d1 = dict()
d2 = {}

initialize dictionary

In [2]:
d1 = { 'shark': 'Jaws', 'dog': 'Spike',  'eagle': 'Atila' }
d1

{'dog': 'Spike', 'eagle': 'Atila', 'shark': 'Jaws'}

insert key value

In [7]:
d1[ 'turtle' ] = 'Micaelo'
d1

{'dog': 'Spike', 'eagle': 'Atila', 'shark': 'Jaws', 'turtle': 'Micaelo'}

update value of a specific key

In [8]:
d1[ 'turtle' ] = 'ninja'
d1

{'dog': 'Spike', 'eagle': 'Atila', 'shark': 'Jaws', 'turtle': 'ninja'}

get value of key

In [11]:
print( d1[ 'turtle' ] )

ninja

loop a dictionary

In [13]:
# python 2.7
for key, value in d1.iteritems():
    print( '{0} : {1}'.format( key, value ) )

AttributeError: 'dict' object has no attribute 'iteritems'

In [4]:
# python 3.6
for key, value in d1.items():
    print( '{0} : {1}'.format( key, value ) )

shark : Jaws
dog : Spike
eagle : Atila

loop only keys in dictionary

In [4]:
for key in d1:
    print( key )

shark
dog
eagle

verify if key exist

In [32]:
if 'dog' in d1:
    print 'our dog is: ' + d1[ 'dog' ]

if 'crocodile' not in d1:
    print 'we do not have crocodiles'

our dog is: Spike
we do not have crocodiles

#### convert from dictionary to array

In [1]:
d = { 'a': 1, 'b': 2, 'c': 3 }
    
a =  [(v, k) for k, v in d.items()]    

a

[(1, 'a'), (3, 'c'), (2, 'b')]

<a id = 'hash_table' ></a>

#### defaultdict - hash table

In [8]:
from collections import defaultdict

a = 'Ant Arrow Axle'

n = len( a )
d = defaultdict(list)
for i in range( 0, n ):
    ch = a[ i ]
    d[ ch ].append( i )

for k,v in d.items():
    print( '{}, {}'.format( k, v ) )

A, [0, 4, 10]
n, [1]
t, [2]
 , [3, 9]
r, [5, 6]
o, [7]
w, [8]
x, [11]
l, [12]
e, [13]

<a id = 'collections' ></a>

#### Collections

In [3]:
from collections import Counter

cnt = Counter()
for word in ['red', 'blue', 'red', 'green', 'blue', 'blue']:
    cnt[word] += 1

cnt

Counter({'blue': 3, 'green': 1, 'red': 2})

## references

* https://docs.python.org/2/tutorial/
* https://regexone.com/
* https://regexone.com/references/python